#board {
  display: grid;
  width: 500px;
  height: 500px;
  margin-bottom: 150px;

  justify-items: center;
  font-size: 6em;
  border: 1px solid black;
  grid-gap: 1px;
  grid-row: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border-color: black;
  justify-content: center;
}

#board button {
  color: rgb(255, 21, 21);
  font-size: 50px;
  background-color: rgb(189, 189, 189);
  width: 200px;
  height: 200px;
  align-self: center;
  justify-self: center;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameControls {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  background-color: rgb(186, 186, 186);
  width: 900px;
  height: 300px;
  flex-direction: column;
  align-items: center;
}
